nav {
    margin: 25px;
}

.container {
    width: device-width;
    background-image: url("../images/balboaPark.jpg"),
}

.pic {
margin: 25px;
}

.textBody {
    margin: 25px;
}
.card {
    size: 50px;
}

footer {
    text-align: center;
 }